{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Crowd Count Events</h1>

    <div class="li<div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr onclick="window.location.href='{% url 'counts:event_detail' event.id %}'" style="cursor: pointer">
                    <td>{{ event.name }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
